@charset "UTF-8";
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  background: #21201e;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(198, 165, 67);
}

header {
  background: url(../img/Fotoram.io.jpg) center/cover;
  color: white;
  margin-bottom: 50px;
  /* Styles pour le menu mobile */
}
header nav {
  height: 12vh;
  display: grid;
  grid-template-columns: 20% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background-color: white;
  /* Animation keyframes */
}
@media screen and (max-width: 680px) {
  header nav {
    grid-template-columns: 50% 50%;
  }
}
header nav .logo img {
  width: calc(100px + 8vw); /* Taille par défaut utilisant calc() */
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: slideInFromLeft 1s forwards;
          animation: slideInFromLeft 1s forwards;
}
@-webkit-keyframes slideInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.7rem;
}
@media screen and (max-width: 680px) {
  header nav ul {
    visibility: hidden;
  }
}
header nav ul li {
  cursor: pointer;
  font-size: 1vw;
}
header nav ul li span {
  color: rgb(198, 165, 67);
}
header nav ul li:hover {
  color: rgb(198, 165, 67);
}
header nav .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8rem;
}
header nav .nav-icons i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
header nav .nav-icons i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
header .burger-menu {
  display: none;
  cursor: pointer;
}
header .burger-menu img {
  font-size: 2rem;
}
header .nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
@media screen and (max-width: 680px) {
  header .burger-menu {
    display: block;
  }
  header .nav-elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    -webkit-transition: visibility 0.6s, opacity 0.6s, -webkit-transform 0.6s;
    transition: visibility 0.6s, opacity 0.6s, -webkit-transform 0.6s;
    transition: visibility 0.6s, opacity 0.6s, transform 0.6s;
    transition: visibility 0.6s, opacity 0.6s, transform 0.6s, -webkit-transform 0.6s;
  }
  header .nav-elements.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  header .nav-elements li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
  }
}
header .reservation a {
  padding: 20px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgb(198, 165, 67);
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
header .reservation a:hover {
  background-color: rgba(198, 165, 67, 0.617);
}
header .text {
  margin: 0 20px;
}
header .animate-text {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-animation: slide-in 1s ease-out forwards;
          animation: slide-in 1s ease-out forwards;
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
}
header .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 88vh;
}
header .header-text .text {
  border: 1px solid white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
header .header-text .text h2 {
  font-family: Allura, cursive;
  font-size: 3rem;
  font-weight: 100;
  color: white;
}
header .header-text .text h1 {
  font-size: 3.2rem;
  letter-spacing: 10px;
  font-weight: 700;
  margin-top: -28px;
  font-family: Poppins, serif;
}
@media screen and (max-width: 680px) {
  header .header-text .text h1 {
    font-size: 2rem;
    margin-top: -15px;
  }
}
header .header-text .text img {
  height: 27px;
  margin: 32px 5px;
}
header .header-text .text h6 {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100;
}
header .header-text .text h6 span {
  color: rgb(198, 165, 67);
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #eee;
}
@media screen and (max-width: 680px) {
  .section1 {
    grid-template-columns: 1fr;
  }
}
.section1 .intro-text {
  margin: 15px;
  padding: 30px 15px;
  border: 1px dashed rgb(166, 114, 69);
}
.section1 .intro-text h2 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-size: 2rem;
  font-weight: 500;
}
.section1 .intro-text h3 {
  margin-top: -12px;
  font-family: Poppins, serif;
}
.section1 .intro-text img {
  margin: 26px;
}
.section1 .intro-text img:nth-of-type(2) {
  height: 70px;
  border-radius: 150px;
  margin-bottom: 8px;
}
.section1 .intro-text h4 {
  font-family: Poppins, serif;
  font-weight: 100;
}
.section1 .intro-text h5 {
  color: rgb(182, 182, 182);
  font-size: 0.7rem;
}
.section1 .intro-pic {
  background: url(../img/plat1.jpg) center/cover;
}
@media screen and (max-width: 680px) {
  .section1 .intro-pic {
    display: none;
  }
}

.section2 {
  color: #eee;
  position: relative;
  overflow: hidden;
}
.section2 h2 {
  margin: 30px 0;
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-size: calc(15px + 3vw);
  font-weight: 100;
}
.section2 img {
  margin-bottom: 2vw;
}
.section2 .swiper-button-next,
.section2 .swiper-button-prev {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 65%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
@media (max-width: 767px) {
  .section2 .swiper-button-next,
  .section2 .swiper-button-prev {
    display: none;
  }
}
.section2 .swiper-button-next {
  right: 10px;
}
.section2 .swiper-button-prev {
  left: 10px;
}
.section2 .swiper-button-next::after,
.section2 .swiper-button-prev::after {
  font-size: 24px;
}
.section2 .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  opacity: 1;
  border-radius: 50%;
}
.section2 .swiper-pagination-bullet-active {
  background-color: rgb(166, 114, 69);
}
.section2 .swiper-wrapper {
  margin-bottom: 20px;
}
.section2 .swiper-slide {
  padding: 10px;
}
.section2 .swiper-slide img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .section2 .swiper-slide img {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .section2 .swiper-slide img {
    height: 250px;
  }
}

.section3 {
  padding: 100px 15px 65px;
  color: #eee;
}
.section3 .form-content {
  display: grid;
  grid-template-columns: 30% 70%;
  background: #eee;
  max-width: 1050px;
  margin: 0 auto;
}
@media screen and (max-width: 850px) {
  .section3 .form-content {
    grid-template-columns: 1fr;
  }
}
.section3 .form-content .hours {
  padding: 24px;
  background: black;
}
.section3 .form-content .hours .hours-content {
  border: 1px dashed rgb(182, 182, 182);
  padding: 20px 0;
}
.section3 .form-content .hours .hours-content h3 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
}
.section3 .form-content .hours .hours-content h4 {
  font-family: Poppins, serif;
  margin-top: -16px;
  letter-spacing: 2px;
  font-size: 1.3rem;
}
.section3 .form-content .hours .hours-content img {
  margin-top: 25px;
}
.section3 .form-content .hours .hours-content h5 {
  text-transform: uppercase;
  color: rgb(166, 114, 69);
  font-family: Poppins, serif;
  font-weight: 100;
  font-size: 1.1rem;
  margin: 38px 0 12px;
}
.section3 .form-content .hours .hours-content p {
  font-size: 0.85rem;
}
.section3 .form-content .form-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.section3 .form-content .form-infos h2 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
}
.section3 .form-content .form-infos h3 {
  color: #21201e;
  margin-top: -18px;
  font-family: Poppins, serif;
  font-size: 1.8rem;
}
.section3 .form-content .form-infos img {
  height: 25px;
  margin: 25px;
}
.section3 .form-content .form-infos .form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}
@media screen and (max-width: 680px) {
  .section3 .form-content .form-infos .form-inputs {
    grid-template-columns: 1fr;
  }
}
.section3 .form-content .form-infos .form-inputs > * {
  padding: 10px 0;
  margin: 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
}
.section3 .form-content .form-infos button {
  border: none;
  border-radius: 50px;
  background: #21201e;
  color: #eee;
  padding: 16px 34px;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section3 .form-content .form-infos button:hover {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.433);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.433);
}

.section4 {
  padding: 50px 20px 90px;
}
.section4 .events-container {
  max-width: 1000px;
  margin: 0 auto;
}
.section4 .events-container h2 {
  font-size: 2.5rem;
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: 100;
}
.section4 .events-container h4 {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 900;
  color: #eee;
  margin-top: -12px;
  font-family: Poppins, serif;
}
.section4 .events-container img {
  margin: 30px 0;
}
.section4 .events-container .event-grid {
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b" "c b";
  gap: 20px;
}
.section4 .events-container .event-grid .date-content {
  background: #21201e;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 22px;
}
.section4 .events-container .event-grid .date-content h6 {
  font-size: 1.7rem;
}
.section4 .events-container .event-grid .address {
  background: #eee;
}
.section4 .events-container .event-grid .address h3 {
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 8px;
}
.section4 .events-container .event-grid .address p {
  font-size: 0.9rem;
  color: rgb(182, 182, 182);
  margin-top: 20px;
  letter-spacing: 1px;
}
.section4 .events-container .event-grid .address h5 {
  letter-spacing: 2px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.section4 .events-container .event-grid .event-left {
  display: grid;
  grid-template-columns: 39% 61%;
  text-align: left;
}
@media screen and (max-width: 680px) {
  .section4 .events-container .event-grid .event-left {
    margin: 20px 0;
  }
}
.section4 .events-container .event-grid .event-left .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section4 .events-container .event-grid .event-left .address {
  color: #21201e;
  padding: 30px 20px;
}
.section4 .events-container .event-grid .event-1 {
  grid-area: a;
}
.section4 .events-container .event-grid .event-1 .date {
  background: url(../img/concert1.jpg) center/cover;
}
.section4 .events-container .event-grid .event-2 {
  grid-area: c;
}
.section4 .events-container .event-grid .event-2 .date {
  background: url(../img/concert2.jpg) top/cover;
}
.section4 .events-container .event-grid .event-3 {
  grid-area: b;
  background: url(../img/concert3.jpg) center/cover;
  padding: 25px;
}
.section4 .events-container .event-grid .event-3 .address {
  padding: 0 12px;
  width: 80%;
  margin: 0 auto;
}
.section4 .events-container .event-grid .event-3 .address h3 {
  margin: 40px 0 15px;
}
.section4 .events-container .event-grid .event-3 .address h5 {
  padding: 25px 0;
}
@media screen and (max-width: 680px) {
  .section4 .events-container .event-grid {
    display: block;
  }
}

.section5 {
  padding: 70px 0 230px;
  position: relative;
}
.section5:after {
  content: "";
  height: 350px;
  width: 100%;
  position: absolute;
  background: url(../img/gmap.jpg) center/cover;
  left: 0;
  bottom: 0;
}
.section5 .quote-container {
  background: #eee;
  z-index: 3;
  position: relative;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 65px 70px;
  -webkit-box-shadow: 0 0 3px #333;
          box-shadow: 0 0 3px #333;
}
.section5 .quote-container:before {
  content: "";
  position: absolute;
  background: url(../img/avatar-02.jpg) center/cover;
  height: 60px;
  width: 60px;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50px;
}
.section5 .quote-container .text-container {
  line-height: 30px;
}
.section5 .quote-container .text-container:before {
  content: "❝";
}
.section5 .quote-container .text-container:after {
  content: "❞";
}
.section5 .quote-container .text-container:before, .section5 .quote-container .text-container:after {
  font-size: 1.5rem;
}
.section5 .quote-container h2 {
  margin: 30px 0 15px;
  font-family: Roboto, serif;
  font-weight: 100;
}
.section5 .quote-container p {
  color: rgb(166, 114, 69);
}

footer {
  background: url(../img/bg-footer.jpg) center/cover;
  text-align: left;
  padding: 65px 32px;
  color: #eee;
}
@media screen and (max-width: 680px) {
  footer {
    padding: 15px 16px;
  }
}
footer .footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
footer .footer-content .left-part {
  padding-right: 30px;
  line-height: 30px;
}
footer .footer-content .left-part a {
  color: rgb(198, 165, 67);
}
footer .footer-content .left-part img {
  width: 13vw;
}
footer .footer-content .left-part h2 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
  margin-bottom: 15px;
}
footer .footer-content .left-part p {
  font-size: 0.9rem;
  color: rgb(182, 182, 182);
}
footer .footer-content .right-part {
  padding-left: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
@media screen and (max-width: 680px) {
  footer .footer-content .right-part {
    padding-left: 20px;
  }
}
footer .footer-content .right-part h3 {
  font-size: 0.75rem;
}
footer .footer-content .right-part input {
  margin-top: 15px;
  background: none;
  border: 1px solid rgba(166, 114, 69, 0.151);
  padding: 7px 13px;
  width: 250px;
}
@media screen and (max-width: 680px) {
  footer .footer-content .right-part input {
    width: 150px;
  }
}
footer .footer-content .right-part .googleReview img {
  width: 80px;
}
footer .footer-content .right-part .follow-us {
  padding-top: 20px;
}
footer .footer-content .right-part .follow-us img {
  width: 30px;
  padding-top: 10px;
}/*# sourceMappingURL=index.css.map */